*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: verdana,Geneva,Tahoma,sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
ul{
    list-style-type:none;
}

body{
    
}
.hide{
    display:none;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.wrapper{
    position:relative;
    min-height:100%;
    padding-bottom:2rem;    /*footer's height*/
}
header{
    background-color:#333333;
    width:100%;
    padding-left:2rem;
    padding-top:1rem;
    background-image: url("images/logo.png");
    background-position: 95% center;
    background-size: 30%;
    background-repeat:no-repeat;
}
.title{
    padding-bottom:1rem;
    font-family: verdana;
    font-size: 3rem;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

}


.navigation{
    display:flex;
    justify-content:space-around;
    padding-top:1rem;
}
.navigation > button{
    width:45%;
    display:flex;
    justify-content:center;
    cursor:pointer;
    position:relative;
    padding: 1rem 0;
    padding-right:3rem;
    min-width:fit-content;
    border:none;
    outline:none;
    border-radius:3rem;
}

.world, .spain{
    font-weight: 700;
    font-size: 1.4rem;
    background-color:#333333;
    color: #80b9fc;
    text-shadow: 1px 1px 1px grey,
    1px 2px 1px grey,
    1px 3px 1px grey;
}


.spanish-flag, .world-icon{
    position:absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width:3rem;
    height:2rem;
}
.spanish-flag{
    background-image: url("images/spanish-flag.svg");
    background-position: right 0px;

}
.world-icon{
    background-image: url("images/world.png");
    background-position: right bottom;

}

main{
    width:100%;
    background-color:white;
}

.select-menu{
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
}
form{
    padding: 1rem 0;
    flex-shrink:0;
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-left:1rem;
    width:fit-content;
    flex-wrap: no-wrap;
}

form > label{
    padding-right:0.2rem;
}
form > input, form >select{
    margin-right:1.5rem;
    font-weight:1.2rem;
    padding:0.4rem;
}

.btn-search{
    margin-left:1rem;
    padding:0.8rem;
    cursor:pointer;
    font-weight:700;
    border-radius:1rem;
    background-color:#333333;
    color:white;
    outline:none;
}





/*** Tables content***/
.results{
    padding:1rem;
}
.row{
    display:flex;
}
ul.row:nth-of-type(1) > li{
    font-weight:bold;
    text-align:left;
    border-radius:1rem;
    background-color: #80b9fc;
    padding:0.3rem;
    margin:0.5rem;
    border:none;
    display:flex;
    align-items:center;
    color:rgb(69, 69, 73);
    cursor:pointer;

}


.up-down-arrow{
    flex-shrink:0;
    height:2rem;
    width:1.4rem;
    background-repeat:no-repeat;
    background-position-y:center;
    content:"";
    background-color:transparent;
    display:block;
    background-image: url("images/up-down-arrow.svg");
    background-size:100%;
    margin-left:1rem;
}
ul.row:nth-of-type(1){
    background-color: #deefff;
    border-bottom:2px solid #80b9fc;
}
.row:nth-child(even){
    background-color:white;
}
.row:nth-child(even)>li{
    border-bottom:none;
    border-top:none;
}
.row> li:nth-child(even){
    border-right:none;
    border-left:none;
}
.row:nth-child(1n+2) > li:first-child{
    cursor:pointer;
    text-decoration:underline;
    border-left:none;
}

.row > li{
    width:100%;
    border: 1px solid rgb(161, 158, 158);
    overflow:hidden;
    text-overflow: ellipsis;
    text-align:right;
    padding:0.3rem;
}
.row > li:first-child{
    text-align:left;
    font-weight:700;
    color:#337ab7;
}
footer{
    position:absolute;
    height:2rem;
    width:100%;
    background-color:rgb(51, 51, 51);
    bottom:0;
    z-index:10;
    color:white;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:2rem;
}
footer a{
    color:white;
    
}


/**** world map ***/
.world-container{
    padding: 1.6rem 0 2.5rem;
    position:relative;
}
.world-icon-2{
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
}
.world-icon-2 button{
    cursor:pointer;
}
.world-visibility-btn{
    padding:0 1rem;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
    border:none;
    background-color:rgb(51, 51, 51);
    border-radius:1rem;
    color:white;
    font-weight:700;
    position:relative;
    outline:none;
}
.world-visibility-btn:after{
    margin-top:0.2rem;
    top:15px;
    left:15px;
    background-image: url("images/double-arrow.svg");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    content:"";
    fill:white;
    color:white;
    height:2rem;
    width:3rem;
    display:block;
    transform: rotate(-90deg);
    transition: transform 0.5s;
}
.show.world-visibility-btn:after{
    transform:rotate(90deg);
}


#vmap{
    margin:0 auto;
    border-radius:50%;
}
#vmap > svg{
    overflow:hidden;
}
.jqvmap-label{
    display:none !important;
}
.world-container path{
    cursor:pointer;
}
@media screen and (max-width:900px){
    header{
        background-size:240px;
    }
    .up-down-arrow{
        margin-left:0;
    }
}

.lds-dual-ring {
    height: 80px;
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom:1rem;
  }
  .lds-dual-ring.hide{
      display:none;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(51, 51, 51);;
    border-color: rgb(51, 51, 51) white rgb(51, 51, 51) white;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }